body {
  background-color: #d0e7ff; 
  margin: 0;
  font-family: Arial, sans-serif;
}
.form-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1in;
}

.form-content {
  width: 90%;
  max-width: 400px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.form-field {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

label {
  margin-right: 10px; 
   text-align: left; 
  margin-right: 10px;
}

input {
  width: 100%;
  max-width: 200px;

  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: #fff9c4;
}

.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button-wrapper {
  margin-right: 10px;
}


.finding-button {
  padding: 8px 12px;
  background-color: #45a049;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.finding-button:hover {
  background-color:#0b7dda ;
}

info-box {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* Light background */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.info-box p {
  margin: 5px 0;
}